
#imageContainer img {
  margin: 10px;
  float: left;
}

#imageContainer div {
  margin: 10px;
  float: right;
  align-self: center;
}

#uploadContainer {
  margin: 20px;
  padding: 10px;
  border: 2px dashed #ccc;
  text-align: center;
}

#dropZone {
  padding: 20px;
  background-color: #f8f8f8;
  cursor: pointer;
}
